

.medium_box{
  top: 5px;
  width: 680px;
  height: 721px;
  background: #333;
  opacity: 1;
  position: relative;
}



.dbrequest_button{
  color: #23C6C6 ;
  background-color: white;
  position: absolute;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  width: 90px;
  height: 40px;
  right: 40px;
  bottom: 40px;
  border-style: solid;
  border-width: thick;
  border:rgb(128, 240, 240);
}

