/*--~~game list~~--*/

.blue_bar {
  width: 1062px;
  height: 17px;
  background: rgba(135,255,240,1);
  opacity: 1;
  position: relative;
  top: -50px;
}

/*~~Video Games Grid~~*/
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px); /*minmax(250px, 1fr) for flux*/
  grid-gap: 0.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  padding: .3rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: #d9d9d9;
  border-style: solid;
  border-width: thick;
  border-top-color: rgba(135,255,240,1);
  border-bottom-color: rgba(140,255,138,1);
  border-left-color: rgba(135,255,240,1);
  border-right-color: rgba(140,255,138,1);
}

.gallery-frame:hover {
  background-color: tomato;
}

/* The Images */
.gallery-img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

/* Grey Bar Line */
.hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}











