/*--~~game list~~--*/

/*~~Home Button~~*/
.back_home{
  position:relative;
  text-align: center;
 
  background-color: transparent;
  border: none;
}

.blue_bar {
  width: 1000px;
  height: 48px;
  /* background: rgba(135,255,240,1); */
  background: rgb(160, 255, 71);
  opacity: 1;
  position: absolute;
  top: 0px;
}

.bar_name{
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

/*middle line*/
.game_divider{
  position: relative;
  background-color: deepskyblue;
  width: 740px;
  height: 2px;
}

/*Game List Box*/
.middle_box{
  background: #222222;
  height: Auto;
  width: 1000px;
  position: relative;
  padding-bottom: 30px;
}


/* Game Gallery Title */
.Game-Gallery-Title{
  color: #88fff1;
  font-family: Roboto;
  font-size: 24px;
  position: relative;
}

/*~~Video Games Grid~~*/
.gallery-grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, 250px); /*minmax(250px, 1fr) for flux*/
  grid-gap: 0.5rem;
  justify-items: left;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: left;
  width: 900px;
  height: 160px;
  color: #d9d9d9;

}

.gallery-frame:hover {
  background-color: #8c8c8c;
}

.grid_name{
  position: relative;
  left: 120px;
  bottom: 120px;
  font-size: 30px;
  word-wrap: break-word;
}


/* The Images */
.gallery-img {
  height: 150px;
  width: 100px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}



/* Grey Bar Line */
.hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

/*Placing Bottom UI*/
.bottom_layout{
  position: relative;
  bottom: -10px;
}

/*Number of Items of List*/
.pagination-page-info {
  padding: 1px;
  width: 40em;
  margin: 10px;
  margin-left: 0;
  font-size: 20px;
  color:darkgray;
  
}
.pagination-page-info b {
  color:whitesmoke;
  background: darkcyan;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 20px;
}


/*front and back buttons*/
.left_button{
  left:30px;
  position: absolute;
  border-style: solid;
  border-width: thick;
  border-top-color: rgba(135,255,240,1);
  border-bottom-color: rgba(140,255,138,1);
  border-left-color: rgba(135,255,240,1);
  border-right-color: rgba(140,255,138,1);
  color: black;
  font-size: 25px;
}

.right_button{
  right: 30px;
  position: absolute;
  border-style: solid;
  border-width: thick;
  border-top-color: rgba(135,255,240,1);
  border-bottom-color: rgba(140,255,138,1);
  border-left-color: rgba(135,255,240,1);
  border-right-color: rgba(140,255,138,1);
  color: black;
  font-size: 25px;
}




