/* SJSU CMPE 138 Spring 2021 TEAM1 */

/*Game Page*/
.title_game_page{
  color:whitesmoke;
  font-size: 70px;
  font-family: Roboto;
  position: relative;
}

.Green_Line {
  width: 1000px;
  height: 14px;
  background: rgba(140,255,138,1);
  opacity: 1;
  position: relative;
  top: -40px;
}

.Blue_Line {
  width: 1000px;
  height: 14px;
  background: rgba(135,255,240,1);
  opacity: 1;
  position: relative;
  top: -50px;
}

/*Image*/
.image_position1{
  width: 1057px;
  height: 595px;  
  position:relative;
  top: 0px;
  left: 0px;
  filter: brightness(100%);
}

.medium_box{
  top: auto;
  width: 1000px;
  height: 900px;
  background: #333;
  opacity: 1;
  position: relative;

}




/* boexs for contents */
.game_image_setup{
  top: 170px;
  left: 45px;
  width: 450px;
  height: 450px;
  background: rgba(255,255,255,0.47999998927116394);
  opacity: 1;
  position: absolute;
  border-style: solid;
  border-width: thick;
  border-top-color: rgba(135,255,240,1);
  border-bottom-color: rgba(140,255,138,1);
  border-left-color: rgba(135,255,240,1);
  border-right-color: rgba(140,255,138,1);
}

.image_adjust{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: block;
  z-index: 1;
  top: 22%;
}

.image_back{
  position:absolute;
  max-width: 100%;
  max-height: 100%;
  right: 0px;
  bottom: 0px;
}

.information{
  top: 170px;
  right: 45px;
  width: 420px;
  height: 700px;
  background: rgba(255,255,255,0.47999998927116394);
  opacity: 1;
  position: absolute;
  border-style: solid;
  border-width: thick;
  border-top-color: rgba(135,255,240,1);
  border-bottom-color: rgba(140,255,138,1);
  border-left-color: rgba(135,255,240,1);
  border-right-color: rgba(140,255,138,1);
}

.info_box{
  height: 699px;
  width: 419px; 
  background: black;
  opacity: 74%;
  font-size: 16px;
  font-family: Courier; 
  overflow: auto;
  text-align: left;
  border:1px solid
}

.title_placements{
  color: white;
  font-family: fantasy;
  font-size: 30px;
  max-width: 398px; 
}

.incoming_data{
  color: rgba(140,255,138,1) ;
  -webkit-text-stroke: 1px rgba(135,255,240,1);
  font-size: 30px;
  font-family: roboto;
  left: 45px;
  position: relative;
  max-width: 398px;
}

.summary_comments{
  color: aliceblue;
  font-size: 20px;
  font-family: Comic San MS;
  max-width: 398px;
}


.comments{
  bottom: 70px;
  width: 450px;
  height: 165px;
  left: 45px;
  background: rgba(255,255,255,0.47999998927116394);
  opacity: 1;
  position: absolute;
  border-style: solid;
  border-width: thick;
  border-top-color: rgba(135,255,240,1);
  border-bottom-color: rgba(140,255,138,1);
  border-left-color: rgba(135,255,240,1);
  border-right-color: rgba(140,255,138,1);
}

.comment_box{
  max-width: 440px; 
  min-width: 440px;
  max-height: 120px;
  min-height: 120px;
  word-wrap: break-word;
}

  /*~~Submit button~~*/
  .submit_button{
    position: relative;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    width: 80px;
    height: 30px;
    bottom: 1px;
    text-align: center;
    color: #23C6C6 ;
    background-color: white;
    border-style: solid;
    border-width: thick;
    border:lightcoral;
}

.submit_button:hover{
    background-color: tomato;
    color: #6B6B6B;
    border: blue;
}


.title_sub{
  color:whitesmoke;
  font-size: 20px;
  font-family: Roboto;
  position: relative;
  top: 25px;
}


/*~~Text Boxes~~*/
.boxPlacement{
  position: relative;
  left: 10px;
  top: 50px;
  text-align: left;
  border-radius: 5px;
}

.box_decorations{
  border-style: solid;
  border-width: thick;
  border-top-color: rgba(135,255,240,1);
  border-bottom-color: rgba(140,255,138,1);
  border-left-color: rgba(135,255,240,1);
  border-right-color: rgba(140,255,138,1);
}

input{
  width: 280px; 
  height: 25px;
}

.spacing{
  height: 20px;
}

.box_titles{
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  color: whitesmoke;
}

/*redirect to Sign Up*/
.signup_redirect{
  width: 220px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 250px;
  left: 3px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
  color: blue;
}

.signup_redirect:hover{
  color: tomato;
}

/*~~Login Button~~*/
.login_button{
  color: #23C6C6 ;
  background-color: white;
  position: absolute;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  width: 90px;
  height: 40px;
  right: 40px;
  bottom: 40px;
  border-style: solid;
  border-width: thick;
  border:lightcoral;
}

.login_button:hover{
  background-color: tomato;
  color: #6B6B6B;
  border: blue;
}

/*~~Home Button~~*/
.back_home{
  position:absolute;
  bottom: 15px;
  left: 215px;
  width: 95px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.comment_section{
  position: relative;
  background: teal;
  border-color: tomato;
  max-width: 419px; 
  margin-bottom: 8px;
  height: auto;
}

.username{
  position: relative;
  text-align: center;
  color: azure;
  font-size: 25px;
  vertical-align: text-top;
  padding: 0px;
  background-color: salmon;
}

.date{
  position: relative;
  text-align: right;
  color: tomato;
}

.time{
  position: absolute;
  text-align: left;
  top: 0px;
}

.comment_text{
  position: relative;
  font-size: 25px;
  margin-top: 10px;
  font-family: Comic San MS;
  color: greenyellow;
}