/* SJSU CMPE 138 Spring 2021 TEAM1 */
/*~ Profile Page ~*/
.title_profile{
  color: whitesmoke;
  font-size: 80px;
  font-family: Roboto;
}

.Green_Line {
  width: 860px;
  height: 17px;
  background: rgba(140,255,138,1);
  opacity: 1;
  position: relative;
  top: -100px;
}

.Blue_Line {
  width: 860px;
  height: 17px;
  background: rgba(135,255,240,1);
  opacity: 1;
  position: relative;
  top: -110px;
}


.medium_box{
  width: 860px;
  height: 800px;
  background: #333;
  opacity: 1;
  position: relative;
}

/* .title_sub{
  color:rgb(255, 255, 255);
  font-size: 20px;
  font-family: Roboto;
  position: relative;
  top: 25px;
} */

 /* Profile Image Icon */
 .anon{
   height: 200px;
   width: 200px;
 }

.pic{
  position: relative;
}


 .anonAdmin{
  height: 200px;
  width: 200px;
  left: 360px;
  position: relative;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  border-top-color: rgba(135,255,240,1);
  border-bottom-color: rgba(140,255,138,1);
  border-left-color: rgba(135,255,240,1);
  border-right-color: rgba(140,255,138,1);
}

.picAdmin{
  position: relative;
  left: 210px;
  top: 32px;
  border-style: solid;
  border-width: thick;
  width: 87px;
  border-top-color: rgba(135,255,240,1);
  border-bottom-color: rgba(140,255,138,1);
  border-left-color: rgba(135,255,240,1);
  border-right-color: rgba(140,255,138,1);
}

 
 .logout_button {
  color: #23C6C6 ;
  background-color: white;
  position: absolute;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  width: 90px;
  height: 40px;
  right: 40px;
  bottom: 40px;
  border-style: solid;
  border-width: thick;
  border:lightcoral;
 }
 
 .upload_profile{
  color: #23C6C6 ;
  background-color: white;
  position: absolute;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  width: 90px;
  height: 40px;
  right: 40px;
  bottom: 40px;
  border-style: solid;
  border-width: thick;
 }

 .label{
   color: white;
   font-family: Roboto;
 }

 .avatar{
  color: white;
  font-family: Roboto;  
  position: center;
 }


 /*~~Home Button~~*/
.back_home{
  position:absolute;
  bottom: 15px;
  left: 10px;
  width: 95px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.a {
  position:absolute;
  bottom: 15px;
  left: 10px;
  width: 95px;
  height: 40px;
  background-color: transparent;
  border: none;
}
 
  /*Selection Box*/
  .box_title{
    color:seashell;
    font-size: 20px;
  }

  .boxPlacement{
    position: relative;
    bottom: 230px;
    right: 190px;
    text-align: center;
    border-radius: 5px;
    outline: 0;
  }
  
  /* .selection{
    color: chartreuse;
    margin-right: 20px;
    width: 400px;
    height: 40px;
    outline: 0;
  } */

  .box_decorations{
    border-style: solid;
    border-width: thick;
    border-top-color: rgba(135,255,240,1);
    border-bottom-color: rgba(140,255,138,1);
    border-left-color: rgba(135,255,240,1);
    border-right-color: rgba(140,255,138,1);
    width: 400px;
    height: 40px;
    outline: 0;
  }

  .refresh_butt{
    position: relative;
    bottom: 220px;
    right: 190px;
    background-color: whitesmoke;
    color: teal;
    width: 100px;
    height: 20px;
    box-shadow: 0 0 0 1px darkturquoise,
    0 0 0 2px firebrick,
    0 0 0 3px orange,
    0 0 0 4px darkturquoise;
    outline: dashed 6px darkturquoise;
  }

  .dependence{
    position: relative;
    bottom: 190px;
    right: 200px;
  }

  .game_msg{
    position: relative;
    color:white;
    font-size: 30px;
    bottom: 383px;
    right: 50px;
  }

  
/* fill in options */
.box_titles{
  color:aqua;
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 25px;
  margin-bottom: 10px;
}

.text_box{
  position: relative;
  outline: 0;
  height: 20px;
  border-style: solid;
  border-width: thin;
  border-top-color: red;
  border-bottom-color: red;
  border-left-color: red;
  border-right-color: red;
}

.submit_info{
  position: relative;
  margin-top: 30px;
  color:teal;
  border-style: solid;
  border-width: thick;
  border-top-color: rgba(135,255,240,1);
  border-bottom-color: rgba(140,255,138,1);
  border-left-color: rgba(135,255,240,1);
  border-right-color: rgba(140,255,138,1);
  outline: 0;
  width: 140px;
  height: 35px;
}

.submit_info:hover{
  box-shadow: 0 0 0 1px darkturquoise,
  0 0 0 3px firebrick,
  0 0 0 5px orange,
  0 0 0 6px darkturquoise;
  color:tomato;
}

​.vertical_line{
  position: relative;
  background: blueviolet;
  height: 100px;
  width: 10px;
  opacity: 1;
  z-index: 1;
}