/*~ Profile Page ~*/
.title_profile{
  color: whitesmoke;
  font-size: 80px;
  font-family: Roboto;
}

.Green_Line {
  width: 680px;
  height: 17px;
  background: rgba(140,255,138,1);
  opacity: 1;
  position: relative;
  top: -90px;
}

.Blue_Line {
  width: 680px;
  height: 17px;
  background: rgba(135,255,240,1);
  opacity: 1;
  position: relative;
  top: -100px;
}


.medium_box{
  top: 5px;
  width: 680px;
  height: 721px;
  background: #333;
  opacity: 1;
  position: relative;
}

/* .title_sub{
  color:rgb(255, 255, 255);
  font-size: 20px;
  font-family: Roboto;
  position: relative;
  top: 25px;
} */

 /* Profile Image Icon */
 .anon{
   height: 300px;
   width: 300px;
 }
 
 .logout {
  width: 220px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 250px;
  left: 3px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
  color: blue;
 }
 
 .p {
  color:#ffff; 
  font-size: 25px; 
  font-family:Roboto;
 }

 /*~~Home Button~~*/
.back_home{
  position:absolute;
  bottom: 15px;
  left: 10px;
  width: 95px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.a {
  position:absolute;
  bottom: 15px;
  left: 10px;
  width: 95px;
  height: 40px;
  background-color: transparent;
  border: none;
}
 