.profile-title{
  color: rgb(255, 255, 255);
 
}

.blue-bar{
 color: #00bbff;
 width: 1000px;
 height: 48px;
}


.account-heading{
 color: rgb(255, 255, 255);
 font-size: 50px;
 
}

.text-secondary{
 color: rgb(255, 255, 255);
 font-size: 40px; 
}


.anon{
  height: 160px;
  width: 160px;
}