/* CSS */

/*~~HomePage~~*/
.images{
    position: absolute;
    right: 150px;
}

/*~~Sidebar~~*/
.sidebar {
    height: 100%;
    width: 200px;
    position: absolute;
    left: 10px;
    top: 0;
    padding-top: 40px;
    background-color:#8c8c8c;
}
    
.text {   
    color: #FFFFFF;
    background-color: #35839b;
    position: static;
    transition: 0.3s;
    padding: 10px 20px;
    font-size: 21px;
    margin-bottom: 30px;
    display: inline-block;
    cursor: pointer;
    font-family: Comic Sans MS;
}
   

.text:hover{
    background: tomato;
}
