<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/css/ex.css" rel="stylesheet" />
    <title>+Games Sign Up</title>
</head>

<div class="container-center-horizontal">
    <div class="s screen">
      <div class="overlap-group">
        <div class="decoration">
          <div class="blue-bar"></div>
          <div class="green-bar"></div>
        </div>
        <h1 class="title">Sign Up</h1>
      </div>
      <div class="subtitle">Become a +Games member today!</div>
      <div class="s-item">
        <div class="overlap-group4">
          <div class="username">username</div>
        </div>
      </div>
      <div class="s-item">
        <div class="overlap-group3"><div class="email">email</div></div>
      </div>
      <div class="s-item">
        <div class="overlap-group2">
          <div class="password">password</div>
        </div>
      </div>
      <div class="sub-title">
        <span class="span">Already a member? </span><span class="span1">Login</span><span class="span">&nbsp;</span>
      </div>
      <div class="signup-button">
        <div class="overlap-group1">
          <div class="sign-up">sign up</div>
        </div>
      </div>
    </div>
 
  </html>