<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/css/example.css" rel="stylesheet" />
    <link rel = "icon" href = "/static/images/NES_icon.png" type = "image/x-icon">
    <title>+Games DB request</title>
    
</head>

<!-- Body of Page -->
<body style="background-color: #222222">


<!-- Login Box -->
<center>
<!-- Body of Page -->

    <div class="medium_box"> 
       <form action="/example" method="POST"> 
        <input type="text" name="game">
        <button class="db_request" type="button" onclick="">DB request</button>
      
      </form>>
      
    </div>

    
</center>


</html>