<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/css/example.css" rel="stylesheet" />
    <title>Document</title>
</head>

<center>
    <div class="v108_2">
        <div class="v101_3"></div>
        <div class="v125_11">
            <div class="v101_5"></div>
            <div class="v101_4"></div>
        </div>
        <div class="v125_9">
            <div class="v101_39"></div>
            <div class="v125_8">
                <div class="v101_19"></div><span class="v101_20">sign up</span>
            </div>
            <div class="v125_5">
                <div class="v101_11"></div><span class="v101_14">username</span>
            </div>
            <div class="v125_4">
                <div class="v101_12"></div><span class="v101_15">email</span>
            </div>
            <div class="v125_10">
                <div class="v101_13"></div><span class="v101_16">password</span>
            </div><span class="v119_3">Already a member? Login </span><span class="v101_10">Become a +Games member
                today!</span>
        </div><span class="v101_9">Sign Up</span>
    </div>
</center>

</html>