<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/css/game_list.css" rel="stylesheet" />
    <link rel = "icon" href = "/static/images/NES_icon.png" type = "image/x-icon">
    <title>+Games List</title>
    
</head>

<!-- Body of Page -->
<body style="background-color: #222222">


<!-- Login Box -->
<body>
<!-- Body of Page -->

  <div class="blue_bar">
    <label for="text" class="bar_name">Game List</label>
  </div>

  <div class="spacing"></div>

  <label for="text" class="Game-Gallery-Title"> Game Gallery </label>

  <!-- Video Game Grid -->
  <div class="gallery-grid">
    <figure class="gallery-frame">
      <img class="gallery-img" src="/static/images/ApexLegends.jpg" alt="symbol image" title="symbol image">
      <figcaption>Apex Legends</figcaption>
    </figure>

    <hr> <!-- thin line -->

    <figure class="gallery-frame">
      <img class="gallery-img" src="/static/images/rocketLeague.jpg" alt="symbol image" title="symbol image">
      <figcaption>Rocket League</figcaption>
    </figure>

    <hr>

    <figure class="gallery-frame">
      <img class="gallery-img" src="/static/images/GenshinImpact.png" alt="symbol image" title="symbol image">
      <figcaption>Genshin Impact</figcaption>
    </figure>

    <hr>

    <figure class="gallery-frame">
      <img class="gallery-img" src="/static/images/mariopart8.png" alt="symbol image" title="symbol image">
      <figcaption>Mario Party 8</figcaption>
    </figure>
      
    <hr>

    <figure class="gallery-frame">
      <img class="gallery-img" src="/static/images/BlackDessert.jpg" alt="symbol image" title="symbol image">
      <figcaption>Black Desert Online</figcaption>
    </figure>

    <hr>

    <figure class="gallery-frame">
      <img class="gallery-img" src="/static/images/overwatch.jpg" alt="symbol image" title="symbol image">
      <figcaption>Overwatch</figcaption>
    </figure>

    <hr>

    <figure class="gallery-frame">
      <img class="gallery-img" src="/static/images/amogus.jpg" alt="symbol image" title="symbol image">
      <figcaption>AmongUs</figcaption>
    </figure> 
    
    <hr>

    <figure class="gallery-frame">
      <img class="gallery-img" src="/static/images/fifa21.jpg" alt="symbol image" title="symbol image">
      <figcaption>FIFA 21</figcaption>
    </figure>
    <hr>
  </div><!-- end:gallery-grid -->
    
</body>

  <!-- Left Grey Sidebar-->
  <div class="l-sidebar" id="l-sidebar"></div>

  <!-- Right Grey Sidebar-->
  <div class="r-sidebar" id="r-sidebar"></div>
</html>