<!DOCTYPE html>
<html>

<head>
    <title>Game Page</title>
    <link rel="icon" href="/static/images/NES_icon.png" type="image/x-icon">
    <link href="/static/css/game_page.css" type="text/css" rel="stylesheet" />
</head>

<!-- Body of Page -->
<body style="background-color: #222222">


    <!-- Game Page Box -->
    <center>
        <div class="medium_box">
            <h1 class="title_game_page">Game Title</h1>
            <div class="Blue_Line">
            </div>
            <div class="Green_Line">
            </div>

            <!-- Image -->
            <div class="game_image">
                <img class="image_adjust" src="/static/images/GenshinImpact.png">
            </div>


            <!-- game information -->
            <div class="information">
                <div class="info_box">
                    <div class="title_placements">Rating: </div>
                    <!-- <div class="incoming_data">{{db}}</div> -->

                    <div style="padding: 5px"></div>
                    <div class="title_placements">Published Year: </div>

                    <div style="padding: 5px"></div>
                    <div class="title_placements">Company: </div>

                    <div style="padding: 5px"></div>
                    <div class="title_placements">Genre: </div>

                    <div style="padding: 5px"></div>
                    <div class="title_placements">Summary: </div>

                    <div style="padding: 5px"></div>
                    <div class="title_placements">Comments: </div>

                </div>

            </div>
            

            <!-- comment box -->
            <div class="comments">
                <textarea placeholder="Enter your Comment..." class="comment_box"  name="comment"></textarea>     
                <button class="submit_button" type="button" onclick="">Submit</button>
            </div>



            <a href="{{ url_for('home') }}">
                <input src="/static/images/logoCool.gif" class="back_home" type="image" onclick="" />
            </a>
        </div>
    </center>


</html>