<!DOCTYPE html>
<html>

<head>
    <title>Game Page</title>
    <link rel="icon" href="/static/images/NES_icon.png" type="image/x-icon">
    <link href="/static/css/game_page.css" type="text/css" rel="stylesheet" />
</head>

<!-- Body of Page -->
<body style="background-color: #222222">

    <!-- Game Page Box -->
    <center>
        <div class="medium_box">
            {% for info in game_page %} 
            <h1 class="title_game_page">{{info[2]}}</h1>
        
            {% endfor %}
            <div class="Blue_Line">
            </div>
            <div class="Green_Line">
            </div>

            <!-- Image -->
            <div class="game_image_setup">
                {% for picture in game_image %}
                <img class="image_adjust" src="{{ picture }}" alt="Game Images" title="covers">
                <img class="image_back" src="/static/images/back_image.jpg" alt="symbol image" title="symbol image">
                {% endfor %}
            </div>
            
            <!-- game information -->
            <div class="information">
                <div class="info_box">
                    {% for info in game_page %}    
                    <div class="title_placements">Rating: </div>
                    <div class="incoming_data">{{info[4]}}</div>

                    <div style="padding: 5px"></div>
                    <div class="title_placements">Published Year: </div>
                    <div class="incoming_data">{{info[5]}}</div>

                    <div style="padding: 5px"></div>
                    <div class="title_placements">Company: </div>
                    <div class="incoming_data">{{info[1]}}</div>

                    <div style="padding: 5px"></div>
                    <div class="title_placements">Genre: </div>
                    <div class="incoming_data">{{info[3]}}</div>

                    <div style="padding: 5px"></div>
                    <div class="title_placements">Price Estimate: </div>
                    <div class="incoming_data">${{info[6]}} (US Currency)</div>


                    <div style="padding: 5px"></div>
                    <div class="title_placements">Comments: </div>
                    {% for x in comment %}
                    {% for y in x %}
                    <div class="comment_section">
                    <div class="username"> {{y[0]}} </div>    
                    <div class="date"> {{y[1]}} </div>
                    <div class="time"> {{y[2]}} </div>
                    <div class="comment_text">{{y[3]}} </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            
            <!-- comment box -->
            <form method="POST">
            <div class="comments">
                <textarea placeholder="Enter your Comment..." class="comment_box"  name="comment"></textarea>    
                {% if status %} 
                <input type="submit" class="submit_button" name="comments" value="Postit">
                {% endif %}
            </div>
        </form>
            
            <a href="{{ url_for('home') }}">
                <input src="/static/images/logoCool.gif" class="back_home" type="image" onclick="" />
            </a>
        </div>
    </center>


</html>