<!DOCTYPE html>
<html lang="en">
<head>
    <title>+Games</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<!-- Body of Homepage -->
<body style="background-color: #222222">

<div class="images">
  <div><img src="/static/images/gamesLOGO.jpg" alt="HomePage Logo"></div>
</div>  
  

<!-- The sidebar -->
<div class="sidebar">
  <img src="/static/images/logoCool.gif" style="padding-bottom: 55px;"/>
  <div>Popular</div>
  <div>Categories</div>
  <div>Alphabetical</div>
  </div>
  





</html>