<!DOCTYPE html>
<html>
  <head>
    <title>++Games</title>
  </head>
  <body>
    <h1>++Games</h1>
    <p> Made by Gamers, For the Gamers </p>
    <p> Christine is the CEO </p>

    <h2>Headings</h2>
    <p>Headings define the outline of your site. <br/> There are six levels of
    headings.</p>

    <h2>Lists</h2>

    <p>This is how you make an unordered list:</p>
    <ul>
        <li>Add a "ul" element (it stands for unordered list)</li>
        <li>Add each item in its own "li" element</li>
        <li>They don't need to be in any particular order</li>
    </ul>
  </body>
</html>