<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/css/login.css" type="text/css" rel="stylesheet" />
    <link rel = "icon" href = "/static/images/NES_icon.png" type = "image/x-icon">
    <title> +Games Login</title>
</head>

<!-- Body of Page -->
<body style="background-color: #222222">

<div class ="login"> 
    <h1> Login </h1>
    <form method="post" action="">
        <p>{{ form.username.label }} {{ form.username(size=32) }}</p>
        <p>{{ form.password.label }} {{ form.password(size = 32) }}</p>
        <p class="remember_me">{{ form.rememberMe() }} {{ form.rememberMe.label }}</p>
        <p class="login">{{ form.submit() }}</p>
    </form>>
</div>>
<div class="login-help"> 
    <p> Not a member? Sign Up now! <a href="{{ url_for('signup') }}" ></a> </p>>
</div>>
</html>