<!-- SJSU CMPE 138 Spring 2021 TEAM1 -->
<!DOCTYPE html>
<html>

<head>
    <link href="/static/css/request_page.css" type="text/css" rel="stylesheet" />
    <link rel = "icon" href = "/static/images/NES_icon.png" type = "image/x-icon">
    <title> +Games Request</title>
</head>

<!-- Body of Page -->
<body style="background-color: #222222">


<!-- Request Box -->
<center>
    <div class="medium_box">
        <h1 class="title_Request">Request Page</h1>
        <div class="Blue_Line">
        </div>
        <div class="Green_Line">
        </div>


        <div class="smoll_box">
           
            <div class="boxPlacement">

                <form method="POST">
                    <label for="req txt" class="boxPlacement_ct"><b>Comment Box:</b></label><br>
                    <textarea placeholder="Enter your Request Here... Detailed Description" class="box_decorations_ct" name="req_txt" required></textarea>
            
                    <div for="Game ID" class="gameid"><b>Enter Game ID:</b></div>
                    <input class="gameidBOX" type="number" placeholder="If game needs 'EDIT' Enter ID   ---  Enter 0 for game not in Library" name="game_id" required /><br>
            
                    <input type="submit" name="submit" value="Submit Form" class="submit_button">
                </form>
            
                <form method="POST">
                    <div for="Game Name" class="gameName"><b>Retrieve ID</b></div>
                    <input class="gameNameBOX" type="text" placeholder="Game Name" name="game_name_back"/>
                    <input type="submit" class="gameNameButton" name="submit" value="Retrieve ID">
                    <div class="gameidnum"><b>{{gameid}}</b></div>
                </form>
            
            </div>
        

        </div>
        <a href="{{ url_for('home') }}">
            <input src="/static/images/logoCool.gif" class="back_home" type="image" onclick=""/>
        </a>

    </div>
</center>


</html>