<!-- SJSU CMPE 138 Spring 2021 TEAM1 -->
<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/css/signup.css" rel="stylesheet" />
    <link rel = "icon" href = "/static/images/NES_icon.png" type = "image/x-icon">
    <title>+Games Sign Up</title>
    
</head>

<!-- Body of Page -->
<body style="background-color: #222222">


<!-- Login Box -->
<center>
<!-- Body of Page -->
    <div class="medium_box"> 
        <h1 class="title_signup">Sign Up</h1>
        <div class="Blue_Line"> </div>
        <div class="Green_Line"> </div>
        <!-- Form -->
        <form action="{{ url_for('signup')}}" method="POST"> 
            <div class= "smoll_box">
                <h2 class="title_sub"> Become a +Games Member today! </h2> 
                <div class="boxPlacement">
                    <label for="username" class="box_titles"><b>Username:</b></label><br>
                    <input type="text" id="username" class="box_decorations" placeholder="Enter Your Username" name="username" required/><br>

                    <div class="spacing"></div>

                    <label for="email" class="box_titles"><b>Email:</b></label><br>
                    <input type="email" id="email" class="box_decorations" placeholder="Enter Your Email" name="email" required/><br>

                    <div class="spacing"></div>

                    <label for="password" class="box_titles"><b>Password:</b></label><br>
                    <input type="password" id="password" minlength="8" title="At least 8 upper and lowercase alphanumeric characters and symbols" class="box_decorations" placeholder="Enter Your Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$" name="password" required/><br>
                
                    <a href="{{ url_for('login') }}">
                        <button class="login_redirect" type="button" onclick="">Already a member? Login</button>
                    </a>
                </div>
                <button class="signup_button" type="submit" onclick="">Sign Up</button>
            </div>
        </form>
        <!-- Form end -->
        <a href="{{ url_for('home') }}">
            <input src="/static/images/logoCool.gif" class="back_home" type="image" onclick=""/>
        </a>
    </div>

    
</center>


</html>