<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/css/signup.css" rel="stylesheet" />
    <title>+Games Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
    <link rel = "icon" href = "/static/images/NES_icon.png" type = "image/x-icon">
</head>

<!-- Body of Page -->
<body style="background-color: #222222">


<!-- Login Box -->
<center>
<!-- Body of Page -->
    <h1 class="title">Sign Up</h1>
    <div class="container-center-horizontal">
        <div class="signup screen">
            <div class="overlap-group">
                <div class="outline">
                    <div class="blue-bar"></div>
                    <div class="green-bar"></div>
                </div>
                <div class="inputs">
                    <div class="subtitle">Become a +Games member today!</div>
                    <div class="username">
                        <div class="overlap-group2">
                            <div class="username-1">username</div>
                        </div>
                    </div>
                    <div class="email-1">
                        <div class="overlap-group3">
                            <div class="email">email</div>
                        </div>
                    </div>
                    <input class="password" name="12510" placeholder="password" type="password" required />
                    <div class="sub-title">
                        <span class="span">Already a member? </span><span class="span1">Login</span><span
                            class="span">&nbsp;</span>
                    </div>
                    <div class="signupbutton">
                        <div class="overlap-group1">
                            <div class="sign-up">sign up</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
    
</center>


</html>