<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="./main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v108_2">
        <div class="v101_3"></div>
        <div class="v107_3">
            <div class="v101_5"></div>
            <div class="v101_4"></div>
        </div>
        <div class="v107_2">
            <div class="v104_28">
                <div class="v101_19"></div><span class="v101_20">sign up</span>
            </div>
            <div class="v104_25">
                <div class="v101_11"></div><span class="v101_14">username</span>
            </div>
            <div class="v104_26">
                <div class="v101_12"></div><span class="v101_15">email</span>
            </div>
            <div class="v104_27">
                <div class="v101_13"></div><span class="v101_16">password</span>
            </div>
            <div class="v101_39"></div>
        </div><span class="v101_10">Become a +Games member today!</span><span class="v101_9">Sign Up</span><span
            class="v119_3">Already a member? Login </span>
    </div>
</body>

</html>